<table>
<tr><td>Play TLG ID</td><td>ID</td><td>Greek</td><td>Latin</td><td>French</td><td>English</td><td>Status</td></tr>
<tr><td>0019:012</td><td>frag-edmonds</td><td></td><td>Fragmenta</td><td></td><td></td><td></td></tr>
<tr><td>0019:013</td><td>frag-kock-1</td><td></td><td>Fragmenta</td><td></td><td></td><td></td></tr>
<tr><td>0019:014</td><td>frag-meineke-2.2</td><td></td><td>Fragmenta</td><td></td><td></td><td></td></tr>
<tr><td>0019:015</td><td>frag-demianczuk</td><td></td><td>Fragmenta</td><td></td><td></td><td></td></tr>
<tr><td>0019:016</td><td>frag-austin</td><td></td><td>Fragmenta</td><td></td><td></td><td></td></tr>
<tr><td>0019:017</td><td>frag-kock-3</td><td></td><td>Fragmenta</td><td></td><td></td><td></td></tr>
<tr><td>0019:018</td><td>frag-meineke-5.1</td><td></td><td>Fragmenta</td><td></td><td></td><td></td></tr>
<tr><td>0019:019</td><td>ach</td><td>Ἀχαρνεῖς</td><td>Acharnenses</td><td>Les Acharniens</td><td>The Acharnians</td><td>surviving</td></tr>
<tr><td>0019:020</td><td>eq</td><td>Ἱππεῖς</td><td>Equites</td><td>Les Cavaliers</td><td>The Knights</td><td>surviving</td></tr>
<tr><td>0019:021</td><td>nub2</td><td>Νεφέλαι 2</td><td>Nubes 2</td><td>Les Nuées 2</td><td>The Clouds 2</td><td>surviving</td></tr>
<tr><td>0019:022</td><td>vesp</td><td>Σφῆκες</td><td>Vespae</td><td>Les Guêpes</td><td>The Wasps</td><td>surviving</td></tr>
<tr><td>0019:023</td><td>pax1</td><td>Εἰρήνη 1</td><td>Pax 1</td><td>La Paix 1</td><td>Peace 1</td><td>surviving</td></tr>
<tr><td>0019:024</td><td>av</td><td>Ὄρνιθες</td><td>Aves</td><td>Les Oiseaux</td><td>The Birds</td><td>surviving</td></tr>
<tr><td>0019:025</td><td>lys</td><td>Λυσιστράτη</td><td>Lysistrata</td><td>Lysistrata</td><td>Lysistrata</td><td>surviving</td></tr>
<tr><td>0019:026</td><td>thes1</td><td>Θεσμοφοριάζουσαι 1</td><td>Thesmophoriazusae 1</td><td>Les Thesmophories 1</td><td>The Women celebrating the Thesmophoria 1</td><td>surviving</td></tr>
<tr><td>0019:027</td><td>ran</td><td>Βάτραχοι</td><td>Ranae</td><td>Les Grenouilles</td><td>The Frogs</td><td>surviving</td></tr>
<tr><td>0019:028</td><td>ecc</td><td>Ἐκκλησιάζουσαι</td><td>Ecclesiazusae</td><td>L’assemblée des Femmes</td><td>The Assemblywomen</td><td>surviving</td></tr>
<tr><td>0019:029</td><td>pl2</td><td>Πλοῦτος 2</td><td>Plutus 2</td><td>Ploutos 2</td><td>Wealth 2</td><td>surviving</td></tr>
<tr><td></td><td>banq</td><td>Δαιταλείς</td><td></td><td>Les Convives</td><td>The Banqueters</td><td>fragmentary</td></tr>
<tr><td></td><td>bab</td><td>Βαβυλώνιοι</td><td></td><td>Les Babyloniens</td><td>The Babylonians</td><td>fragmentary</td></tr>
<tr><td></td><td>georg</td><td>Γεωργοί</td><td></td><td>Les Paysans</td><td>The Farmers</td><td>fragmentary</td></tr>
<tr><td></td><td>olk</td><td>Όλκάδες</td><td></td><td>Les Navires Marchands</td><td>Merchants Ships</td><td>fragmentary</td></tr>
<tr><td></td><td>nub1</td><td>Νεφέλαι 1</td><td>Nubes 1</td><td>Les Nuées 1</td><td>The Clouds 1</td><td>fragmentary</td></tr>
<tr><td></td><td>proagon</td><td>Προάγων</td><td></td><td>Proagon</td><td>Proagon</td><td>fragmentary</td></tr>
<tr><td></td><td>amphi</td><td>Αμφιάραος</td><td></td><td>Amphiaraos</td><td>Amphiaraus</td><td>fragmentary</td></tr>
<tr><td></td><td>pl1</td><td>Πλοῦτος 1</td><td>Plutus 1</td><td>Ploutos 1</td><td>Wealth 1</td><td>fragmentary</td></tr>
<tr><td></td><td>gery</td><td>Γηρυτάδης</td><td></td><td>Gerytadès</td><td>Gerytadès</td><td>fragmentary</td></tr>
<tr><td></td><td>coc</td><td>Κώκαλος</td><td></td><td>Cocalos</td><td>Cocalus</td><td>fragmentary</td></tr>
<tr><td></td><td>aio</td><td>Αιολοσίκων 1 & 2</td><td></td><td>Aiolosicon 1 & 2</td><td>Aiolosicon 1 & 2</td><td>fragmentary</td></tr>
<tr><td></td><td>niob</td><td></td><td>Niobus</td><td>Drames ou Niobos</td><td>Dramas or Niobus</td><td>fragmentary</td></tr>
<tr><td></td><td>anag</td><td>Ανάγυρος</td><td></td><td>Anagyros</td><td>Anagyrus</td><td>fragmentary</td></tr>
<tr><td></td><td>tag</td><td>Ταγηνισταί</td><td></td><td>Tagenistes</td><td>The Frying-Pan Men</td><td>fragmentary</td></tr>
<tr><td></td><td>daed</td><td>Δαίδαλος</td><td>Daedalus</td><td>Dédale</td><td>Daedalus</td><td>fragmentary</td></tr>
<tr><td></td><td>dan</td><td>Δαναΐδες</td><td></td><td>Les Danaïdes</td><td>Danaids</td><td>fragmentary</td></tr>
<tr><td></td><td>cen</td><td>Κένταυρος</td><td></td><td>Centaure</td><td>Centaur</td><td>fragmentary</td></tr>
<tr><td></td><td>hero</td><td>Ήρωες</td><td></td><td>Les Héros</td><td>Heroes</td><td>fragmentary</td></tr>
<tr><td></td><td>lemn</td><td>Λήμνιαι</td><td></td><td>Les Lemniennes</td><td>Lemnian Women</td><td>fragmentary</td></tr>
<tr><td></td><td>geras</td><td>Γήρας</td><td></td><td>La Vieillesse</td><td>Old Age</td><td>fragmentary</td></tr>
<tr><td></td><td>pax2</td><td>Εἰρήνη 2</td><td>Pax 2</td><td>La Paix 2</td><td>Peace 2</td><td>fragmentary</td></tr>
<tr><td></td><td>phen</td><td>Φοίνισσαι</td><td></td><td>Les Phéniciennes</td><td>Phoenician Women</td><td>fragmentary</td></tr>
<tr><td></td><td>pol</td><td>Πολύιδος</td><td></td><td>Polyidos</td><td>Polyidus</td><td>fragmentary</td></tr>
<tr><td></td><td>horai</td><td>Ώραι</td><td></td><td>Les Saisons</td><td>Seasons</td><td>fragmentary</td></tr>
<tr><td></td><td>pel</td><td>Πελαργοί</td><td></td><td>Les Cigognes</td><td>Storks</td><td>fragmentary</td></tr>
<tr><td></td><td>telm</td><td>Τελμησσείς</td><td></td><td>Les Telmessiens</td><td>Telmessians</td><td>fragmentary</td></tr>
<tr><td></td><td>tri</td><td>Τριφάλης</td><td></td><td>Triphale</td><td>Triphales</td><td>fragmentary</td></tr>
<tr><td></td><td>thes2</td><td>Θεσμοφοριάζουσαι 2</td><td>Thesmophoriazusae 2</td><td>Les Thesmophories 2</td><td>The Women celebrating the Thesmophoria 2</td><td>fragmentary</td></tr>
<tr><td></td><td>scen</td><td>Σκηνάς Καταλαμβάνουσαι</td><td></td><td>Le Camp des Femmes</td><td>Women in Tents</td><td>fragmentary</td></tr>
<tr><td></td><td>incert</td><td></td><td>Incertae Fabulae</td><td>Pièces sans titre</td><td>Untitled works</td><td>fragmentary</td></tr>
<tr><td></td><td>dubia</td><td></td><td>Dubia</td><td>Pièces à l’attribution douteuse</td><td>Dubious works</td><td>fragmentary#dubious</td></tr>
<tr><td></td><td>nes</td><td>Νῆσοι</td><td>Insulae</td><td>Les îles</td><td>The Islands</td><td>fragmentary</td></tr>
<tr><td></td><td>delia</td><td></td><td>Delia</td><td>La Délienne</td><td>The girl from Delos</td><td>fragmentary#dubious</td></tr>
<tr><td></td><td>dram</td><td></td><td>Dramata</td><td>Drames</td><td>Dramas</td><td>fragmentary</td></tr>
<tr><td></td></tr>
</table>
